.hero {
  background-image: url('background.jpg');
  background-size: cover;
  color: white;
}
.hero .hero-body {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.project img {
  max-height: 200px;
  object-fit: cover;
}

.scroll-down-arrow {
display: inline-block;
position: relative;
bottom: 5px;
}

.scroll-down-arrow::after {
content: "";
display: block;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid white;
position: absolute;
bottom: -10px;
left: 50%;
transform: translateX(-50%);
}
section {
transition: all 0.5s ease-out;
}



